# Predicting Acceptance of US Visa Applications Using Machine Learning
Capstone Project for SlideRule Intensive Data Science workshop.

Charles Franzen

## The Project

Each year hundreds of thousands of applications are filed for work visas in the US. So many, in fact, that legistated caps on the number of H-1B applications have been reached every single year since 2007. In 2008, the quota was reached on the first day of open applications. In light of this, companies and potential employees that are lucky enough to get their application in via the lottery want to ensure that they have as high a chance as possible of having their application approved.

My project is to investigate application data sets and create models that will predict the acceptance or rejection of a given application. This model could evaluate the strength of an application before it is submitted, and provide insights into how a weak application could be improved. The model will also elucidate the most important factors determining the fate of a visa application.

## The Data

I will be investigating data published by the US Dapartment of Labor. The data sets are comprised of quarterly application data and decisions for different types of visas. I will be focusing on two of these data sets: one that includes a mix of all visa types, and one that is comprised solely of H-1B visas.

The data fields cover a wide range of information, including details about the country of origin of the applicant, location and type of the job, pay and educational requirements of the job, education of the applicant, and whether all regulatory hurdles have been cleared.

H-1B visas are work visas that are only for 'specialty applications', and therefore can act as a bellweather for how much highly-educated talent the US is importing.

## Methodology

I will be treating this as a classification problem. The binary variable 'denied' will indicate whether an application was rejected.

So far I have used logistic regression and decision tree classification to model the all-visa dataset. Next steps include refining the models, investigating similar models for the H-1B subset, and continuing with other machine learning techniques, including SVM.

### Logistic Regression

In order to implement logistic regression, I've had to format the data sets, converting string cell values into integers or floats, and creating dummy variables for categorical data.

Scikit Learn does not provide a method for adjusting the threshold probability for classification, so this had to be adjusted manually.

Using backdata from the Department of Labor, I will test my models and further refine them.

### Decision Tree Classification

Once the data is formatted for Logistic Regression, it is easy to fit it to a decision tree. Again, I would like to adjust the threshold at which test cases are marked as weak, but I haven't yet figured out how to do that.

## Limitations

Since the base rate of application rejection is so low (6.7% for all visa types), it may be difficult to suss out relevant variables. Thus far my models have tended to have a high number of false-negatives (type II errors).

The models may also end up provinding unhelpful insights. For example, the model may identify country of citizenship as a crucial determiner. It won't be helpful to most applicants to tell them to change their citizenship.

## Import Modules

In [648]:
% matplotlib inline
import numpy as np
import pandas as pd
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.tree import DecisionTreeClassifier

# All Visas

## Data Loading and Initial Processing
Withdrawn applications are removed from the data set, since there was no decision made.

In [287]:
# loading data
data = pd.read_excel('Data/PERM_Disclosure_Data_FY15_Q4.xlsx', 'DDFY2015_Final')

# removing withdrawn applications
data = data[data['CASE_STATUS'] != 'Withdrawn']

# adding a binary series with 1 indicating that an application was denied
data['denied'] = (data.CASE_STATUS == 'Denied').astype(int)

## Descriptive Statistics

To do:

1. make pie charts for country of origin, education, case status, visa type
2. make histograms for salary/wage, training, and experience requirements

In [166]:
data['CASE_STATUS'].value_counts()

Certified            40176
Certified-Expired    38762
Denied                5696
Name: CASE_STATUS, dtype: int64

In [167]:
pcert, pcertex, pdenied = (data['CASE_STATUS'].value_counts().values) / float(len(data))
size = len(data)
print 'Certified: \t\t', pcert, '\nCertified-Expired: \t', pcertex, '\nDenied: \t\t', pdenied, '\nSize: \t\t\t', size

Certified: 		0.474702838103
Certified-Expired: 	0.457995604603
Denied: 		0.0673015572938
Size: 			84634

Base rate of denials is low, at 6.7%

In [168]:
serror = (pdenied*(1-pdenied)/float(len(data))) ** .5
print 'Standard Error: ',serror

Standard Error:  0.000861213341343

### Categorical Data

In [299]:
# possibly interesting columns of categorical data
dfcat = data[['denied', 'EMPLOYER_NAME', 'EMPLOYER_STATE', 'AGENT_FIRM_NAME', 'PW_SOC_TITLE', 'JOB_INFO_EDUCATION', 
              'COUNTRY_OF_CITIZENSHIP', 'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_EDUCATION', 
              'FOREIGN_WORKER_INFO_MAJOR']]

After exploring the columns, Visa Type, Country of Citizenship, and Education seem to be the most interesting columns.

In [682]:
# visa types with a high rate of denial
dftype = dfcat[['CLASS_OF_ADMISSION', 'denied']]
dftype1 = dftype.groupby('CLASS_OF_ADMISSION').mean()
dftype1['size'] = dftype.groupby('CLASS_OF_ADMISSION').agg(sum)
dftype = dftype1[(dftype1['denied'] > (pdenied + 2*serror)) & (dftype1['size'] >= 10)]
dftype

                      denied  size
CLASS_OF_ADMISSION
B-1                 0.347826    40
B-2                 0.265248   187
E-1                 0.149123    17
E-2                 0.123584   120
E-3                 0.071429    11
EWI                 0.356796   147
F-1                 0.096111   304
F-2                 0.116822    25
H-1B1               0.162791    14
H-2A                0.789474    15
H-2B                0.553571    31
H-4                 0.075000    12
J-1                 0.122905    22
Not in USA          0.204633   318
Parolee             0.075650    32

In [266]:
# countries with a high rate of denial
dfcit = dfcat[['COUNTRY_OF_CITIZENSHIP', 'denied']]
dfcit1 = dfcit.groupby('COUNTRY_OF_CITIZENSHIP').mean()
dfcit1['size'] = dfcit.groupby('COUNTRY_OF_CITIZENSHIP').agg(sum)
dfcit = dfcit1[(dfcit1['denied'] > (pdenied + 2*serror)) & (dfcit1['size'] >= 10)]
dfcit

                            denied  size
COUNTRY_OF_CITIZENSHIP
ARGENTINA                 0.098859    26
BRAZIL                    0.076125    44
BULGARIA                  0.078571    11
COLOMBIA                  0.117493    45
DOMINICAN REPUBLIC        0.127660    12
ECUADOR                   0.270408    53
EL SALVADOR               0.237624    24
GAMBIA                    0.850000    17
GREECE                    0.078125    10
GUATEMALA                 0.303371    27
HONDURAS                  0.210526    16
ITALY                     0.099768    43
JAMAICA                   0.235294    36
JAPAN                     0.094737    63
KENYA                     0.106796    11
LEBANON                   0.105691    13
MEXICO                    0.207709   388
PAKISTAN                  0.081352    65
PERU                      0.162921    29
PHILIPPINES               0.195200   366
POLAND                    0.184466    57
ROMANIA                   0.104972    19
SLOVAKIA                  0.400000    12
SOUTH AFRICA              0.107383    16
SOUTH KOREA               0.132861   750
THAILAND                  0.177083    34
TRINIDAD AND TOBAGO       0.117647    10
UNITED KINGDOM            0.076923    80
UNITED STATES OF AMERICA  0.165605    26
VENEZUELA                 0.118299    64
VIETNAM                   0.172131    42

In [172]:
dfcat.groupby(['FOREIGN_WORKER_INFO_EDUCATION'])['denied'].mean().sort_values()

FOREIGN_WORKER_INFO_EDUCATION
Doctorate      0.033010
Master's       0.051275
Bachelor's     0.053348
Other          0.074332
Associate's    0.185270
None           0.228803
High School    0.270021
Name: denied, dtype: float64

In [173]:
dfcat.groupby(['JOB_INFO_EDUCATION'])['denied'].mean().sort_values()

JOB_INFO_EDUCATION
Doctorate      0.025573
Master's       0.047168
Bachelor's     0.051324
Other          0.075218
Associate's    0.188406
None           0.233772
High School    0.304193
Name: denied, dtype: float64

Applicants with at least a Bachelor's have significantly lower rates of rejection than those without one.

## Data Preparation for Logistic Regression

All of the data are given as unicode, even the numbers, so it has to be converted into the proper data type before the regression can be run. Additionally, dummy variables need to be created for the categorical data.

In [539]:
# interesting fields with binary or numerical data
data_fields = ['REFILE', 'EMPLOYER_NUM_EMPLOYEES', 
               'FOREIGN_WORKER_OWNERSHIP_INTEREST', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089', 'WAGE_OFFER_TO_9089', 
               'JOB_INFO_TRAINING', 'JOB_INFO_TRAINING_NUM_MONTHS', 'JOB_INFO_EXPERIENCE', 
               'JOB_INFO_EXPERIENCE_NUM_MONTHS', 'JOB_INFO_ALT_FIELD', 'JOB_INFO_ALT_COMBO_ED_EXP', 
               'JOB_INFO_ALT_CMB_ED_OTH_YRS', 'JOB_INFO_FOREIGN_ED', 'JOB_INFO_ALT_OCC', 'JOB_INFO_ALT_OCC_NUM_MONTHS', 
               'JOB_INFO_JOB_REQ_NORMAL', 'JOB_INFO_FOREIGN_LANG_REQ', 'JOB_INFO_COMBO_OCCUPATION',
               'JI_FOREIGN_WORKER_LIVE_ON_PREMISES', 'JI_LIVE_IN_DOMESTIC_SERVICE', 'JI_LIVE_IN_DOM_SVC_CONTRACT', 
               'RECR_INFO_PROFESSIONAL_OCC', 'RECR_INFO_COLL_UNIV_TEACHER', 'RECR_INFO_COLL_TEACH_COMP_PROC', 
               'RI_POSTED_NOTICE_AT_WORKSITE', 'RI_LAYOFF_IN_PAST_SIX_MONTHS', 'RI_US_WORKERS_CONSIDERED', 
               'FOREIGN_WORKER_INFO_TRAINING_COMP', 'FOREIGN_WORKER_INFO_REQ_EXPERIENCE', 
               'FOREIGN_WORKER_INFO_ALT_EDU_EXPERIENCE', 'FOREIGN_WORKER_INFO_REL_OCCUP_EXP', 
               'PREPARER_INFO_EMP_COMPLETED']
dflogit = data[data_fields]

In [540]:
def remove_commas(uni):
    # converts unicode numbers with commas into floats
    string = str(uni)
    return float(string.replace(',', ''))

def data_clean(df):
    # formats datatypes to binary for indicators or floats for numbers
    columns = df.columns
    dfr = pd.DataFrame()
    for column in columns:
        name = str(column)
        name = name.lower()
        if str(df[column][1]) in ['Y', 'N']:
            dfr[name] = (df[column] == 'Y').astype(int)
        elif ',' in str(df[column][1]):
            try:
                dfr[name] = df[column].apply(remove_commas)
            except ValueError:
                continue
        else:
            try:
                dfr[name] = df[column].apply(float)
            except ValueError:
                continue
    return dfr

def add_columns(df1, df2, columns):
    # adds columns from one dataframe to another
    for column in columns:
        df2[column] = df1[column]

In [561]:
# formatting data for logistic regression
dflogit = data_clean(dflogit)
new_columns = ['JOB_INFO_EDUCATION', 'COUNTRY_OF_CITIZENSHIP', 'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_EDUCATION',
               'denied']
add_columns(data, dflogit, new_columns)
dflogit = dflogit.fillna(0)

In [562]:
# checking data types
dflogit.dtypes

refile                                float64
employer_num_employees                float64
foreign_worker_ownership_interest     float64
pw_amount_9089                        float64
job_info_training                     float64
job_info_training_num_months          float64
job_info_experience                   float64
job_info_experience_num_months        float64
job_info_alt_field                    float64
job_info_alt_combo_ed_exp             float64
job_info_alt_cmb_ed_oth_yrs           float64
job_info_foreign_ed                   float64
job_info_alt_occ                      float64
job_info_alt_occ_num_months           float64
job_info_job_req_normal               float64
job_info_foreign_lang_req             float64
job_info_combo_occupation             float64
ji_foreign_worker_live_on_premises    float64
ji_live_in_domestic_service           float64
recr_info_professional_occ            float64
recr_info_coll_univ_teacher           float64
ri_posted_notice_at_worksite          float64
ri_layoff_in_past_six_months          float64
preparer_info_emp_completed           float64
denied                                  int64
JOB_INFO_EDUCATION                     object
COUNTRY_OF_CITIZENSHIP                 object
CLASS_OF_ADMISSION                     object
FOREIGN_WORKER_INFO_EDUCATION          object
dtype: object

In [563]:
len(dflogit)

84634

In [650]:
params = dflogit.columns[:-5]
dummies = ['C(JOB_INFO_EDUCATION)', 'C(COUNTRY_OF_CITIZENSHIP)', 'C(CLASS_OF_ADMISSION)', 'C(FOREIGN_WORKER_INFO_EDUCATION)']
f = 'denied ~ ' + ' + '.join(params) + ' + ' + ' + '.join(dummies)
f

'denied ~ refile + employer_num_employees + foreign_worker_ownership_interest + pw_amount_9089 + job_info_training + job_info_training_num_months + job_info_experience + job_info_experience_num_months + job_info_alt_field + job_info_alt_combo_ed_exp + job_info_alt_cmb_ed_oth_yrs + job_info_foreign_ed + job_info_alt_occ + job_info_alt_occ_num_months + job_info_job_req_normal + job_info_foreign_lang_req + job_info_combo_occupation + ji_foreign_worker_live_on_premises + ji_live_in_domestic_service + recr_info_professional_occ + recr_info_coll_univ_teacher + ri_posted_notice_at_worksite + ri_layoff_in_past_six_months + preparer_info_emp_completed + C(JOB_INFO_EDUCATION) + C(COUNTRY_OF_CITIZENSHIP) + C(CLASS_OF_ADMISSION) + C(FOREIGN_WORKER_INFO_EDUCATION)'

In [651]:
# prep dataframes for sklearn logit
y, X = dmatrices(f, dflogit, NA_action='raise', return_type="dataframe")
print X.columns

Index([u'Intercept', u'C(JOB_INFO_EDUCATION)[T.Associate's]',
       u'C(JOB_INFO_EDUCATION)[T.Bachelor's]',
       u'C(JOB_INFO_EDUCATION)[T.Doctorate]',
       u'C(JOB_INFO_EDUCATION)[T.High School]',
       u'C(JOB_INFO_EDUCATION)[T.Master's]', u'C(JOB_INFO_EDUCATION)[T.None]',
       u'C(JOB_INFO_EDUCATION)[T.Other]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.AFGHANISTAN]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ALBANIA]',
       ...
       u'job_info_job_req_normal', u'job_info_foreign_lang_req',
       u'job_info_combo_occupation', u'ji_foreign_worker_live_on_premises',
       u'ji_live_in_domestic_service', u'recr_info_professional_occ',
       u'recr_info_coll_univ_teacher', u'ri_posted_notice_at_worksite',
       u'ri_layoff_in_past_six_months', u'preparer_info_emp_completed'],
      dtype='object', length=267)

In [652]:
len(y)

84634

In [653]:
# flattening y into a 1-D array
y = np.ravel(y)

## Logistic Regression

In [654]:
# creating a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

In [586]:
# checking the accuracy on the training set
model.score(X, y)

0.93269844270624103

In [587]:
y.mean()

0.067301557293759015

At first glance, the model is doing only slightly better than the null (accepting every application).

In [589]:
# examining the coefficients
(pd.DataFrame(zip(X.columns, np.transpose(model.coef_))).sort_values(by=1))

                                                     0                     1
246                                     pw_amount_9089  [-3.49464358033e-05]
244                             employer_num_employees  [-2.46064862525e-08]
250                     job_info_experience_num_months  [-1.02904351759e-08]
256                        job_info_alt_occ_num_months  [-8.41094845065e-09]
253                        job_info_alt_cmb_ed_oth_yrs  [-1.06084219259e-09]
264                       ri_posted_notice_at_worksite   [-9.1421363532e-10]
0                                            Intercept  [-8.96842828195e-10]
248                       job_info_training_num_months   [-8.2397483622e-10]
254                                job_info_foreign_ed  [-7.62282397509e-10]
262                         recr_info_professional_occ  [-6.83149412343e-10]
257                            job_info_job_req_normal  [-6.81524935978e-10]
205                      C(CLASS_OF_ADMISSION)[T.H-1B]   [-6.4666337364e-10]
249                                job_info_experience  [-5.34712902786e-10]
79                  C(COUNTRY_OF_CITIZENSHIP)[T.INDIA]  [-4.45334136744e-10]
255                                   job_info_alt_occ  [-4.22434927017e-10]
5                    C(JOB_INFO_EDUCATION)[T.Master's]  [-3.36208790918e-10]
2                  C(JOB_INFO_EDUCATION)[T.Bachelor's]  [-3.24857626155e-10]
237     C(FOREIGN_WORKER_INFO_EDUCATION)[T.Bachelor's]  [-3.24148957069e-10]
240       C(FOREIGN_WORKER_INFO_EDUCATION)[T.Master's]  [-3.01138670557e-10]
266                        preparer_info_emp_completed  [-2.88117712163e-10]
251                                 job_info_alt_field  [-2.72597023275e-10]
252                          job_info_alt_combo_ed_exp  [-2.72096763928e-10]
154           C(COUNTRY_OF_CITIZENSHIP)[T.SOUTH KOREA]  [-1.82494354666e-10]
41                  C(COUNTRY_OF_CITIZENSHIP)[T.CHINA]  [-1.46051295042e-10]
6                        C(JOB_INFO_EDUCATION)[T.None]  [-1.37149606587e-10]
238      C(FOREIGN_WORKER_INFO_EDUCATION)[T.Doctorate]  [-1.19995302439e-10]
241           C(FOREIGN_WORKER_INFO_EDUCATION)[T.None]  [-1.03392991764e-10]
3                   C(JOB_INFO_EDUCATION)[T.Doctorate]  [-9.93714736443e-11]
263                        recr_info_coll_univ_teacher  [-9.91337691315e-11]
215                       C(CLASS_OF_ADMISSION)[T.L-1]   [-8.4319715904e-11]
..                                                 ...                   ...
69                C(COUNTRY_OF_CITIZENSHIP)[T.GRENADA]   [1.30909340935e-12]
70              C(COUNTRY_OF_CITIZENSHIP)[T.GUATEMALA]   [1.47827830767e-12]
169              C(COUNTRY_OF_CITIZENSHIP)[T.THAILAND]   [1.61178772392e-12]
132                  C(COUNTRY_OF_CITIZENSHIP)[T.PERU]    [1.7499585831e-12]
87                C(COUNTRY_OF_CITIZENSHIP)[T.JAMAICA]   [1.78491786883e-12]
195                       C(CLASS_OF_ADMISSION)[T.E-1]   [1.89535682685e-12]
206                     C(CLASS_OF_ADMISSION)[T.H-1B1]   [2.04194972786e-12]
226                   C(CLASS_OF_ADMISSION)[T.Parolee]   [2.11778756251e-12]
179  C(COUNTRY_OF_CITIZENSHIP)[T.UNITED STATES OF A...    [2.1951912267e-12]
150              C(COUNTRY_OF_CITIZENSHIP)[T.SLOVAKIA]   [2.72187168203e-12]
207                      C(CLASS_OF_ADMISSION)[T.H-2A]   [2.81032129367e-12]
64                 C(COUNTRY_OF_CITIZENSHIP)[T.GAMBIA]   [2.81059033289e-12]
182             C(COUNTRY_OF_CITIZENSHIP)[T.VENEZUELA]   [2.99363090526e-12]
258                          job_info_foreign_lang_req    [3.6263355446e-12]
208                      C(CLASS_OF_ADMISSION)[T.H-2B]   [4.14073342763e-12]
53                C(COUNTRY_OF_CITIZENSHIP)[T.ECUADOR]   [4.45425243418e-12]
190                       C(CLASS_OF_ADMISSION)[T.B-1]   [4.62137554959e-12]
191                       C(CLASS_OF_ADMISSION)[T.B-2]   [4.68922676953e-12]
134                C(COUNTRY_OF_CITIZENSHIP)[T.POLAND]   [4.93686718522e-12]
261                        ji_live_in_domestic_service      [5.59546367e-12]
247                                  job_info_training   [7.35041715341e-12]
1                 C(JOB_INFO_EDUCATION)[T.Associate's]    [7.5035452613e-12]
243                                             refile   [8.31686714442e-12]
133           C(COUNTRY_OF_CITIZENSHIP)[T.PHILIPPINES]   [8.49284632566e-12]
260                 ji_foreign_worker_live_on_premises   [1.11609523413e-11]
198                       C(CLASS_OF_ADMISSION)[T.EWI]   [1.15331699893e-11]
245                  foreign_worker_ownership_interest   [1.23083698156e-11]
259                          job_info_combo_occupation   [1.37038886986e-11]
4                 C(JOB_INFO_EDUCATION)[T.High School]   [1.60228611857e-11]
113                C(COUNTRY_OF_CITIZENSHIP)[T.MEXICO]   [2.65562646487e-11]

[267 rows x 2 columns]

According to the model, the strongest factor leading to application rejection is whether an applicant has Mexican citizenship. Appicants from the Philippines, Poland, and South America are also rejected at relatively high rates. Education requirements also matter: positions requiring only High School or an Associates Degree have more risk of rejection. Interestingly, foreign workers with an ownership stake in the hiring company may be at a disadvantage. Perhaps this is intended to encourage moneyed immigrants to simply apply for an investor visa (EB-5 and E-2). Some markers for rejection seem to point to a possibility for exploitation, with jobs requiring the worker to live on-site and live-in domestic workers facing heightened scrutiny. 

By far the strongest factor strengthening an application is the pay of the employee. Simply put, better pay means a higher chance of acceptance. The second strongest factor is the size of the hiring company, with larger companies having a higher acceptance rate. Additional factors that strengthen an application are education, and experience. Jobs requiring at least a Bachelor's and a number of years of experience will have the highest acceptance rates. Not surprisingly, following all regulations, such as displaying a notice of filing at the workplace, reduces the risk of rejection. Candidates from India and South Korea have the best chances at acceptance.

### Evaluating the Model

In [726]:
# evaluating the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.1, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, penalty='l2', random_state=None, tol=0.0001)

In [737]:
# predicting class labels for the test set
predicted = model2.predict(X_test)
predicted

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

The default decision point for logistic regression is .5, but since application rejection is so rare, this does not identify many weak applications (too many type 2 errors). Lowering the threshold for classification will scoop up more rejected applications.

In [728]:
# generating class probabilities, the adjusting the decision cutoff
probs = model2.predict_proba(X_test)
count = []
for prob in probs:
    if prob[1] > .09:
        count.append(1)
    else:
        count.append(0)
predict2 = np.array(count)

In [729]:
# generating evaluation metrics
print metrics.accuracy_score(y_test, predict2)
print metrics.roc_auc_score(y_test, probs[:, 1])

0.745392249527
0.680778922601

In [730]:
print metrics.confusion_matrix(y_test, predict2)
print metrics.classification_report(y_test, predict2)

[[6031 1887]
 [ 268  278]]
             precision    recall  f1-score   support

        0.0       0.96      0.76      0.85      7918
        1.0       0.13      0.51      0.21       546

avg / total       0.90      0.75      0.81      8464

While the model does have a lot of false-positives, these are not very costly. The result will simply be flagging an application as a possible rejection, leading to a strengthening of a possible weak application. The model identified over half of all rejections, and flagged less than a quarter of accepted applications as weak. This means that the model *is* usefull in that applications classified as weak are rejected at double the base-rate.

In [731]:
# evaluating the model using 10-fold cross-validation
scores = cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

[ 0.93265595  0.93206522  0.93241966  0.93265595  0.93230151  0.92922968
  0.93146638  0.92863051  0.93382179  0.93275821]
0.93180048744

Cross validation shows that the model generalizes reasonably well over different data samples.

## Decision Tree

In [718]:
# creating and fitting a decision tree to the data
tmodel = DecisionTreeClassifier()
tmodel = tmodel.fit(X, y)

In [719]:
# checking the accuracy on the training set
tmodel.score(X, y)

0.99451756977101402

The tree is quite a bit more accurate than the logistic regression.

In [738]:
y.mean()

0.067301557293759015

In [678]:
# examining the feature importances
pd.DataFrame(zip(X.columns, np.transpose(tmodel.feature_importances_ ))).sort_values(1).tail(20)

                                                  0         1
252                       job_info_alt_combo_ed_exp  0.007552
199                    C(CLASS_OF_ADMISSION)[T.F-1]  0.007619
154        C(COUNTRY_OF_CITIZENSHIP)[T.SOUTH KOREA]  0.007816
254                             job_info_foreign_ed  0.008036
7                    C(JOB_INFO_EDUCATION)[T.Other]  0.008901
2               C(JOB_INFO_EDUCATION)[T.Bachelor's]  0.008999
240    C(FOREIGN_WORKER_INFO_EDUCATION)[T.Master's]  0.009388
262                      recr_info_professional_occ  0.009671
264                    ri_posted_notice_at_worksite  0.010291
79               C(COUNTRY_OF_CITIZENSHIP)[T.INDIA]  0.010528
205                   C(CLASS_OF_ADMISSION)[T.H-1B]  0.010565
266                     preparer_info_emp_completed  0.011220
257                         job_info_job_req_normal  0.011545
237  C(FOREIGN_WORKER_INFO_EDUCATION)[T.Bachelor's]  0.012446
253                     job_info_alt_cmb_ed_oth_yrs  0.014582
251                              job_info_alt_field  0.015054
250                  job_info_experience_num_months  0.021092
256                     job_info_alt_occ_num_months  0.023603
244                          employer_num_employees  0.260797
246                                  pw_amount_9089  0.333920

The feature importance table largely corroborrates the conclusions from the logistic regression model. Strengthening factors have far more influence on acceptance than weakening factors, which makes sense, given the low rate or rejection. One new insight from the tree model is that having the employer complete the application is a significant factor. This, along with the importance of the size of the company, leads me to the narrative that large companies can dedicate significant resources, perhaps even dedicated employees, to ensuring that applications are well prepared.

### Evaluating the Model

In [732]:
# evaluating the tree with train and test sets
tmodel2 = DecisionTreeClassifier()
tmodel2.fit(X_train, y_train)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=None, splitter='best')

In [740]:
# predicting class labels for the test set
tpredicted = tmodel2.predict(X_test)
tpredicted

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [810]:
# Adjusting decision cutoff to balance type I and type II errors
tprobs = tmodel2.predict_proba(X_test)
tcount = []
for prob in tprobs:
    if prob[1] > .3:
        tcount.append(1)
    else:
        tcount.append(0)
tpredict2 = np.array(tcount)

In [811]:
# generating evaluation metrics
print metrics.accuracy_score(y_test, tpredict2)
print metrics.roc_auc_score(y_test, tprobs[:, 1])

0.92084120983
0.691495452009

In [812]:
print metrics.confusion_matrix(y_test, tpredict2)
print metrics.classification_report(y_test, tpredict2)

[[7556  362]
 [ 308  238]]
             precision    recall  f1-score   support

        0.0       0.96      0.95      0.96      7918
        1.0       0.40      0.44      0.42       546

avg / total       0.92      0.92      0.92      8464

The results show that the decision tree does not identify as many of the rejected applications as the logit model, it does produce significantly fewer false positive (type 1) errors. Running an application through both models will give a better idea of the risk. Applications flagged by logit but not decision tree have a higher chance of being false positives, and may not be especially weak. Applications flagged by the tree but logit may also be false positives, but should be regarded with more suspicion than those only flagged by logit, due to the lower rate of type 1 errors in the tree model. Applications classified as weak by both models are at an especially high risk of rejection.

In [815]:
# evaluating the model using 10-fold cross-validation
scores = cross_val_score(DecisionTreeClassifier(), X, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

[ 0.8725189   0.9028828   0.90500945  0.90430057  0.92698488  0.91989603
  0.91728701  0.92721257  0.92212243  0.91656819]
0.911478283091

## Model Comparison

In [816]:
metrics.confusion_matrix(predict2, tpredict2)

array([[6000,  299],
       [1864,  301]])

The models agree in about 75% of cases, with the logit model predicting a significantly higher number of weak applications.

# H-1B Visas

In [683]:
hdf = dflogit[dflogit.CLASS_OF_ADMISSION == 'H-1B']

In [687]:
# prep dataframes for sklearn logit
hy, hX = dmatrices(f, hdf, NA_action='raise', return_type="dataframe")
hX.columns

Index([u'Intercept', u'C(JOB_INFO_EDUCATION)[T.Bachelor's]',
       u'C(JOB_INFO_EDUCATION)[T.Doctorate]',
       u'C(JOB_INFO_EDUCATION)[T.High School]',
       u'C(JOB_INFO_EDUCATION)[T.Master's]', u'C(JOB_INFO_EDUCATION)[T.None]',
       u'C(JOB_INFO_EDUCATION)[T.Other]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.AFGHANISTAN]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ALBANIA]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ALGERIA]',
       ...
       u'job_info_job_req_normal', u'job_info_foreign_lang_req',
       u'job_info_combo_occupation', u'ji_foreign_worker_live_on_premises',
       u'ji_live_in_domestic_service', u'recr_info_professional_occ',
       u'recr_info_coll_univ_teacher', u'ri_posted_notice_at_worksite',
       u'ri_layoff_in_past_six_months', u'preparer_info_emp_completed'],
      dtype='object', length=209)

In [690]:
# flattening hy into a 1-D array
hy = np.ravel(hy)

In [692]:
# creating a logistic regression model, and fit with hX and hy
hmodel = LogisticRegression()
hmodel = hmodel.fit(hX, hy)

In [695]:
# checking the accuracy on the training set
hmodel.score(hX, hy)

0.95153640562962505

In [696]:
hy.mean()

0.048000123592207511

In [697]:
# examining the coefficients
(pd.DataFrame(zip(hX.columns, np.transpose(hmodel.coef_))).sort_values(by=1))

                                                     0                     1
192                     job_info_experience_num_months   [-0.00499028835077]
190                       job_info_training_num_months    [-0.0031027054786]
195                        job_info_alt_cmb_ed_oth_yrs   [-0.00126795991454]
196                                job_info_foreign_ed  [-0.000863969311314]
0                                            Intercept  [-0.000836867036345]
206                       ri_posted_notice_at_worksite  [-0.000794645661158]
191                                job_info_experience  [-0.000698548603988]
204                         recr_info_professional_occ  [-0.000631678812752]
199                            job_info_job_req_normal  [-0.000561541567973]
197                                   job_info_alt_occ  [-0.000421074696638]
208                        preparer_info_emp_completed  [-0.000390400153568]
74                  C(COUNTRY_OF_CITIZENSHIP)[T.INDIA]   [-0.00038219605675]
194                          job_info_alt_combo_ed_exp  [-0.000336194901338]
193                                 job_info_alt_field  [-0.000324970681453]
4                    C(JOB_INFO_EDUCATION)[T.Master's]  [-0.000285345444026]
1                  C(JOB_INFO_EDUCATION)[T.Bachelor's]  [-0.000282588349143]
179     C(FOREIGN_WORKER_INFO_EDUCATION)[T.Bachelor's]  [-0.000278868888795]
180      C(FOREIGN_WORKER_INFO_EDUCATION)[T.Doctorate]  [-0.000264545736459]
205                        recr_info_coll_univ_teacher  [-0.000254956674776]
182       C(FOREIGN_WORKER_INFO_EDUCATION)[T.Master's]  [-0.000246081776289]
2                   C(JOB_INFO_EDUCATION)[T.Doctorate]  [-0.000232546758895]
38                  C(COUNTRY_OF_CITIZENSHIP)[T.CHINA]  [-0.000150667031815]
6                       C(JOB_INFO_EDUCATION)[T.Other]  [-0.000111108842524]
184          C(FOREIGN_WORKER_INFO_EDUCATION)[T.Other]  [-9.71216030026e-05]
145           C(COUNTRY_OF_CITIZENSHIP)[T.SOUTH KOREA]  [-8.63525262234e-05]
189                                  job_info_training  [-6.05242341864e-05]
188                                     pw_amount_9089  [-3.51038235757e-05]
36                 C(COUNTRY_OF_CITIZENSHIP)[T.CANADA]  [-2.67562606489e-05]
164                C(COUNTRY_OF_CITIZENSHIP)[T.TURKEY]  [-2.53700787888e-05]
112                 C(COUNTRY_OF_CITIZENSHIP)[T.NEPAL]  [-2.35245873692e-05]
..                                                 ...                   ...
151            C(COUNTRY_OF_CITIZENSHIP)[T.ST VINCENT]   [9.31431312487e-07]
159              C(COUNTRY_OF_CITIZENSHIP)[T.TANZANIA]   [9.71417136179e-07]
150              C(COUNTRY_OF_CITIZENSHIP)[T.ST LUCIA]   [1.03013608472e-06]
96             C(COUNTRY_OF_CITIZENSHIP)[T.LUXEMBOURG]   [1.13435496223e-06]
120              C(COUNTRY_OF_CITIZENSHIP)[T.PAKISTAN]   [1.16325231625e-06]
55               C(COUNTRY_OF_CITIZENSHIP)[T.ETHIOPIA]   [1.43668924628e-06]
3                 C(JOB_INFO_EDUCATION)[T.High School]    [1.7360833528e-06]
27   C(COUNTRY_OF_CITIZENSHIP)[T.BOSNIA AND HERZEGO...   [1.83457067357e-06]
9                 C(COUNTRY_OF_CITIZENSHIP)[T.ALGERIA]   [1.85040008848e-06]
138  C(COUNTRY_OF_CITIZENSHIP)[T.SERBIA AND MONTENE...   [1.96796208914e-06]
82                C(COUNTRY_OF_CITIZENSHIP)[T.JAMAICA]   [2.49741504272e-06]
107               C(COUNTRY_OF_CITIZENSHIP)[T.MOLDOVA]   [2.61919348697e-06]
144          C(COUNTRY_OF_CITIZENSHIP)[T.SOUTH AFRICA]   [2.70086494918e-06]
46                C(COUNTRY_OF_CITIZENSHIP)[T.DENMARK]   [2.94024032921e-06]
64                C(COUNTRY_OF_CITIZENSHIP)[T.GRENADA]   [3.10023253927e-06]
125                  C(COUNTRY_OF_CITIZENSHIP)[T.PERU]   [3.30144738854e-06]
141              C(COUNTRY_OF_CITIZENSHIP)[T.SLOVAKIA]   [3.95876736336e-06]
202                 ji_foreign_worker_live_on_premises   [4.83873343536e-06]
200                          job_info_foreign_lang_req   [6.51110738243e-06]
11              C(COUNTRY_OF_CITIZENSHIP)[T.ARGENTINA]   [7.26390199427e-06]
173             C(COUNTRY_OF_CITIZENSHIP)[T.VENEZUELA]    [8.2246168368e-06]
185                                             refile   [9.37278266599e-06]
170  C(COUNTRY_OF_CITIZENSHIP)[T.UNITED STATES OF A...   [1.14992522136e-05]
181    C(FOREIGN_WORKER_INFO_EDUCATION)[T.High School]   [1.17439466802e-05]
187                  foreign_worker_ownership_interest   [1.45743271453e-05]
183           C(FOREIGN_WORKER_INFO_EDUCATION)[T.None]   [2.27686248423e-05]
126           C(COUNTRY_OF_CITIZENSHIP)[T.PHILIPPINES]   [3.13166639954e-05]
106                C(COUNTRY_OF_CITIZENSHIP)[T.MEXICO]   [3.88434524211e-05]
5                        C(JOB_INFO_EDUCATION)[T.None]   [5.27788063334e-05]
198                        job_info_alt_occ_num_months    [0.00311185092426]

[209 rows x 2 columns]

In [698]:
# evaluating the model by splitting into train and test sets
hX_train, hX_test, hy_train, hy_test = train_test_split(hX, hy, test_size=.1, random_state=0)
hmodel2 = LogisticRegression()
hmodel2.fit(hX_train, hy_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, penalty='l2', random_state=None, tol=0.0001)

In [699]:
# predicting class labels for the test set
hpredicted = hmodel2.predict(hX_test)
hpredicted

array([ 0.,  0.,  0., ...,  1.,  0.,  0.])

In [709]:
# generating class probabilities, the adjusting the decision cutoff
hprobs = hmodel2.predict_proba(hX_test)
hcount = []
for prob in hprobs:
    if prob[1] > .05:
        hcount.append(1)
    else:
        hcount.append(0)
hpredict2 = np.array(hcount)

In [710]:
# generating evaluation metrics
print metrics.accuracy_score(hy_test, hpredict2)
print metrics.roc_auc_score(hy_test, hprobs[:, 1])

0.575312837942
0.609608244279

In [711]:
print metrics.confusion_matrix(hy_test, hpredict2)
print metrics.classification_report(hy_test, hpredict2)

[[3545 2606]
 [ 143  179]]
             precision    recall  f1-score   support

        0.0       0.96      0.58      0.72      6151
        1.0       0.06      0.56      0.12       322

avg / total       0.92      0.58      0.69      6473