# Predicting Acceptance of US Visa Applications Using Machine Learning
Capstone Project for SlideRule Intensive Data Science workshop.

Charles Franzen

## The Project

Each year hundreds of thousands of applications are filed for work visas in the US. So many, in fact, that legistated caps on the number of H-1B applications have been reached every single year since 2007. In 2008, the quota was reached on the first day of open applications. In light of this, companies and potential employees that are lucky enough to get their application in via the lottery want to ensure that they have as high a chance as possible of having their application approved.

My project is to investigate application data sets and create models that will predict the acceptance or rejection of a given application. This model could evaluate the strength of an application before it is submitted, and provide insights into how a weak application could be improved. The model will also elucidate the most important factors determining the fate of a visa application.

## The Data

I will be investigating data published by the US Dapartment of Labor. The data sets are comprised of quarterly application data and decisions for different types of visas. I will be focusing on two of these data sets: one that includes a mix of all visa types, and one that is comprised solely of H-1B visas.

The data fields cover a wide range of information, including details about the country of origin of the applicant, location and type of the job, pay and educational requirements of the job, education of the applicant, and whether all regulatory hurdles have been cleared.

H-1B visas are work visas that are only for 'specialty applications', and therefore can act as a bellweather for how much highly-educated talent the US is importing.

## Methodology

I will be treating this as a classification problem. The binary variable 'denied' will indicate whether an application was rejected.

So far I have used logistic regression to model the all-visa dataset. Next steps include refining the logistic regression model, creating a similar model for the H-1B data set, and continuing with other machine learning techniques, including Tree-based Models and SVM.

### Logistic Regression

In order to implement logistic regression, I've had to format the data sets, converting string cell values into integers or floats, and creating dummy variables for categorical data.

Using backdata from the Department of Labor, I will test my models and further refine them.

## Limitations

Since the base rate of application rejection is so low (6.7% for all visa types), it may be difficult to suss out relevant variables. Thus far my models have tended to have a high number of false-negatives (type II errors).

The models may also end up provinding unhelpful insights. For example, the model may identify country of citizenship as a crucial determiner. It won't be helpful to most applicants to tell them to change their citizenship.

## Import Modules

In [267]:
% matplotlib inline
import numpy as np
import pandas as pd
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

## Data Loading and Initial Processing
Withdrawn applications are removed from the data set, since there was no decision made.

In [281]:
# loading data
data = pd.read_excel('Data/PERM_Disclosure_Data_FY15_Q4.xlsx', 'DDFY2015_Final')

# removing withdrawn applications
data = data[data['CASE_STATUS'] != 'Withdrawn']

# adding a binary series with 1 indicating that an application was denied
data['denied'] = (data.CASE_STATUS == 'Denied').astype(int)

,CASE_NUMBER,DECISION_DATE,CASE_STATUS,CASE_RECEIVED_DATE,REFILE,ORIG_FILE_DATE,ORIG_CASE_NO,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_INFO_REQ_EXPERIENCE,FOREIGN_WORKER_INFO_ALT_EDU_EXPERIENCE,FOREIGN_WORKER_INFO_REL_OCCUP_EXP,PREPARER_INFO_EMP_COMPLETED,PREPARER_INFO_TITLE,EMPLOYER_DECL_INFO_TITLE,NAICS_CODE,NAICS_TITLE,PW_JOB_TITLE_9089,denied
0,A-13316-14231,2015-05-29,Certified,11/19/2013,N,NaN,NaN,N,GENERAC POWER SYSTEMS,S45 W29290 HWY 59,...,A,A,Y,N,Attorney,Vice President of Human Resources,335312,Motor and Generator Manufacturing,Industrial Engineers,0
1,A-13316-14287,2015-06-26,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
2,A-13316-14312,2014-10-16,Denied,11/27/2013,N,NaN,NaN,N,"AVIDITY, LLC",12635 E. MONTVIEW BLVD. #140,...,Y,A,A,N,Attorney,Chief Financial Officer,54171,"Research and Development in the Physical, Engi...",Protein Production Scientist,1
3,A-13316-14276,2015-05-26,Certified,11/13/2013,N,NaN,NaN,N,STAR COMMUNICATIONS LLC,17426 HWY 99,...,A,A,A,N,Attorney,President,45399,All Other Miscellaneous Store Retailers,Market Research Analysts and Marketing Special...,0
4,A-13316-14275,2015-06-26,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
5,A-13317-14380,2015-05-28,Certified,11/15/2013,N,NaN,NaN,N,SANSU CORPORATION,4750 S. HAGADORN ROAD,...,Y,A,Y,N,Attorney,President,722110,Full-Service Restaurants,"Cooks, Restaurant",0
6,A-13317-14356,2014-12-01,Certified-Expired,07/02/2014,N,NaN,NaN,N,TALBERT & TALBERT LLC,317 MADISON AVENUE,...,N,A,Y,N,Attorney,Managing Partner,541219,Other Accounting Services,Public Relations Specialists,0
7,A-13316-14278,2015-05-18,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
8,A-13316-14279,2015-05-18,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
9,A-13316-14281,2015-05-18,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
10,A-13316-14072,2015-03-30,Certified-Expired,11/13/2013,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,A,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,Computer Systems Analysts,0
11,A-13316-13949,2015-06-12,Certified,01/02/2014,N,NaN,NaN,N,"OBJECT TECHNOLOGY SOLUTIONS, INC",6363 COLLEGE BLVD,...,Y,A,Y,N,Attorney at Law,Associate Manager - HR,541511,Custom Computer Programming Services,Computer Programmers,0
12,A-13317-14353,2015-05-28,Certified,11/13/2013,N,NaN,NaN,N,"GREEN EARTH FUELS OF HOUSTON, LLC.",550 CLINTON DRIVE,...,A,A,Y,N,Attorney,Human Resources Manager,324110,Petroleum Refineries,Market Research Analysts and Marketing Special...,0
13,A-13316-14203,2015-05-11,Certified,11/13/2013,N,NaN,NaN,N,"IH SERVICES, INC.",127 TANNER ROAD,...,A,A,A,Y,NaN,Human Resources Specialist,561720,Janitorial Services,Building Custodian,0
14,A-13316-14140,2015-03-30,Certified-Expired,11/13/2013,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,A,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,Computer Systems Analysts,0
15,A-13316-14274,2015-05-18,Denied,11/12/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
16,A-13316-14246,2015-05-13,Certified,11/15/2013,N,NaN,NaN,N,"EPAM SYSTEMS, INC",41 UNIVERSITY DRIVE,...,A,A,A,N,ATTORNEY,HR Administrator,541511,Custom Computer Programming Services,"Software Developers, Applications",0
17,A-13317-14420,2015-05-20,Certified,11/14/2013,N,NaN,NaN,N,APPLEXUS TECHNOLOGIES LLC,33507 9TH AVENUE SOUTH,...,A,Y,Y,N,ATTORNEY-AT-LAW,GENERAL MANAGER- OPERATIONS & DELIVERY,541512,Computer Systems Design Services,"SOFTWARE DEVELOPERS, APPLICATIONS",0
18,A-13316-14176,2015-09-11,Certified,06/30/2014,N,NaN,NaN,N,"ARRAY NETWORKS, INC.",1371 MCCARTHY BLVD.,...,A,A,A,N,Attorney,Chief Financial Officer,334119,Other Computer Peripheral Equipment Manufacturing,"Software Developers, Applications",0
19,A-13317-14346,2015-05-26,Certified,11/18/2013,N,NaN,NaN,N,"HUNT CONSOLIDATED, INC.",1900 N. AKARD ST.,...,A,A,Y,N,Attorney,International Human Resources Representative,211111,Crude Petroleum and Natural Gas Extraction,Computer Systems Analysts,0
20,A-13316-14183,2015-06-09,Certified,12/04/2013,N,NaN,NaN,N,RGA REINSURANCE,16600 SWINGLEY RIDGE RD,...,A,N,A,N,Attorney,"Executive Director, Human Resources US & Mexico",524130,Reinsurance Carriers,Financial Analysts,0
21,A-13316-14268,2015-05-20,Certified,11/22/2013,N,NaN,NaN,N,"SAP AMERICA, INC.",3999 WEST CHESTER PIKE,...,A,N,Y,N,Partner,HR Operations Manager,54151,Computer Systems Design and Related Services,Computer Systems Analysts,0
22,A-13316-14188,2015-06-11,Certified,12/30/2013,N,NaN,NaN,N,"DOUBLEBRIDGE TECHNOLOGIES, INC.",103 CARNEGIE CENTER,...,A,Y,A,N,Attorney,HR,541519,Other Computer Related Services,"Software Developers, Applications",0
23,A-13317-14422,2015-06-03,Certified,12/03/2013,N,NaN,NaN,N,QUALCOMM TECHNOLOGIES INC.,5775 MOREHOUSE DRIVE,...,A,N,Y,N,Attorney at Law,Immigration Specialist - QUALCOMM HR,334220,Radio and Television Broadcasting and Wireless...,"Software Developers, Systems Software",0
24,A-13317-14428,2015-06-23,Certified,01/13/2014,N,NaN,NaN,N,"BLAND FARMS, LLC",1126 RAYMOND BLAND RD,...,A,A,Y,N,Attorney at Law,General Counsel,115116,Farm Management Services,"Farmers, Ranchers, and Other Agricultural Mana...",0
25,A-13317-14431,2015-04-01,Certified-Expired,11/14/2013,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,A,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,Computer Systems Analysts,0
26,A-13316-14269,2015-03-10,Certified-Expired,10/19/2014,N,NaN,NaN,N,TOWERS WATSON PENNSYLVANIA INC.,CENTRE SQUARE EAST,...,A,A,Y,N,ATTORNEY,"IMMIGRATION ADMINISTRATION, HUMAN RESOUCES",54161,Management Consulting Services,Financial Analyst,0
27,A-13317-14387,2015-04-01,Certified-Expired,11/14/2013,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,Y,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,"Software Developers, Applications",0
28,A-13317-14425,2015-09-01,Certified,11/13/2013,N,NaN,NaN,N,"SMART SWITCH, LLC",7404 D CHAPEL HILL RD,...,A,A,A,N,ATTORNEY-AT-LAW,President,541511,Custom Computer Programming Services,"Software Developers, Applications",0
29,A-13315-13750,2015-05-18,Denied,11/11/2013,N,NaN,NaN,N,"AMERICA'S CATCH, INC.",46623 COUNTY ROAD 523 (MAIL TO PO BOX ONLY),...,A,A,A,N,Representative,President,311712,Fresh and Frozen Seafood Processing,"Meat, Poultry, and Fish Cutters and Trimmers",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88929,A-15055-53535,2015-08-28,Certified,02/27/2015,N,NaN,NaN,N,"AWARE, INC.",40 MIDDLESEX TURNPIKE,...,A,A,A,N,Partner,Co-CEO/Co-President and General Counsel,335999,All Other Miscellaneous Electrical Equipment a...,Computer and Information Research Scientists,0
88930,A-15055-53536,2015-08-28,Certified,02/26/2015,N,NaN,NaN,N,"CLIENT NETWORK SERVICES, INC.",2277 RESEARCH BOULEVARD,...,Y,A,Y,Y,NaN,VP of Contracts & Corporate Counsel,541511,Custom Computer Programming Services,"Software Developers, System Software",0
88931,A-15054-53148,2015-09-21,Certified,03/25/2015,N,NaN,NaN,N,"EPIC PICTURES GROUP, INC.","6725 SUNSET BOULEVARD, SUITE 330",...,Y,Y,Y,N,Attorney,C.O.O.,512110,Motion Picture and Video Production,Marketing Managers,0
88932,A-15056-53649,2015-09-17,Certified,02/25/2015,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,A,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,"Software Developers, Applications",0
88933,A-15056-53780,2015-09-17,Certified,02/27/2015,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,N,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,Computer Systems Analyst,0
88934,A-15056-53776,2015-08-28,Certified,02/26/2015,N,NaN,NaN,N,AMERICAN UNIT INC,2901 N DALLAS PARKWAY,...,Y,A,Y,N,ATTORNEY,"VICE PRESIDENT, HUMAN RESOURCES",541511,Custom Computer Programming Services,DBA/Database Automation Engineer,0
88935,A-15061-55088,2015-09-25,Certified,03/04/2015,N,NaN,NaN,N,"RANDSTAD TECHNOLOGIES, LP",150 PRESIDENTIAL WAY,...,Y,Y,Y,N,Attorney,Regional Managing Director,541511,Custom Computer Programming Services,"Software Developers, Applications",0
88936,A-15055-53462,2015-09-25,Certified,03/12/2015,N,NaN,NaN,N,"PineBridge Investments Holdings U.S., LLC",399 Park Avenue,...,A,A,Y,N,Attorney,"Vice President, Head of Human Resources, Americas",523920,Portfolio Management,"Software Developers, Applications",0
88937,A-15058-54620,2015-09-21,Certified,03/08/2015,N,NaN,NaN,N,"FISERV GLOBAL SERVICES, INC.",255 FISERV DRIVE,...,A,Y,N,N,Associate,"Manager, HR Programs",518210,"Data Processing, Hosting, and Related Services","Software Developers, Applications",0
88938,A-15058-54621,2015-09-18,Certified,03/09/2015,N,NaN,NaN,N,AMAZON CORPORATE LLC,440 TERRY AVE N,...,N,N,Y,N,Attorney,Immigration Specialist,454111,Electronic Shopping,"Software Developer, Applications",0
88939,A-15090-62793,2015-05-08,Denied,03/31/2015,N,NaN,NaN,N,3 Rooms Communications,12201 Currency Cir,...,Y,Y,A,Y,NaN,President,518111,Internet Service Providers,Sales Manager,1
88940,A-15064-56441,2015-09-22,Certified,03/10/2015,N,NaN,NaN,N,"FACEBOOK, INC.",1 HACKER WAY,...,N,A,Y,N,Associate Attorney,"Manager, Global Mobility, Tax & Immigration",518112,Web Search Portals,"Software Developers, Applications",0
88941,A-15057-54183,2015-09-21,Certified,03/20/2015,N,NaN,NaN,N,"MARLABS, INC",ONE CORPORATE PLACE SOUTH,...,N,A,Y,Y,NaN,General Counsel,541511,Custom Computer Programming Services,"Software Developers, Applications",0
88942,A-15068-57101,2015-09-23,Certified,03/26/2015,N,NaN,NaN,N,DATAGRAVITY INC,"100 INNOVATIVE WAY, SUITE 3410",...,A,A,Y,N,Attorney,Office Manager,511210,Software Publishers,"Software Developers, Applications",0
88943,A-15075-58867,2015-09-23,Certified,03/26/2015,N,NaN,NaN,N,IBM CORPORATION,3039 CORNWALLIS ROAD,...,A,Y,Y,N,Associate,Manager,54151,Computer Systems Design and Related Services,Computer Systems Analysts,0
88944,A-15067-56856,2015-09-23,Certified,03/09/2015,N,NaN,NaN,N,"FINDTHEBEST.COM, INC.",101-A INNOVATION PLACE,...,Y,A,A,N,ATTORNEY,HEAD OF ACCOUNTING & FINANCE,5191,Other Information Services,"Software Developers, Systems Software",0
88946,A-15062-55634,2015-09-29,Certified,03/12/2015,N,NaN,NaN,N,Texpa LLC,53 STATION ROAD,...,A,A,Y,N,ATTORNEY,PRESIDENT,424310,"Piece Goods, Notions, and Other Dry Goods Merc...",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,0
88948,A-15090-63005,2015-09-28,Certified,03/31/2015,N,NaN,NaN,N,"TECHDATA SERVICE COMPANY, LLC.","700 AMERICAN AVE., SUITE 102",...,N,A,Y,N,Attorney,Vice President,541612,Human Resources and Executive Search Consultin...,Statisticians,0
88951,A-15065-56509,2015-09-29,Certified,03/06/2015,N,NaN,NaN,N,UNIVERSITY OF MICHIGAN,"1500 STUDENT ACTIVITIES BUILDING, 515 E. JEFFE...",...,A,A,A,Y,NaN,"Chair, Dept of Earth and Resource Science",611310,"Colleges, Universities, and Professional Schools","Environmental Science Teachers, Postsecondary",0
88952,A-15054-53079,2015-09-29,Certified,03/05/2015,N,NaN,NaN,N,The Financial Advisory Group Inc,5599 San Felipe,...,A,A,Y,N,Attorney,President,523930,Investment Advice,Accountants and Auditors,0
88954,A-15063-56010,2015-09-18,Certified,03/04/2015,N,NaN,NaN,N,COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION,211 QUALITY CIRCLE,...,Y,N,A,Y,NaN,Immigration Specialist,541512,Computer Systems Design Services,Computer Systems Analyst,0
88957,A-15069-57414,2015-09-30,Certified,03/10/2015,N,NaN,NaN,N,Modular Space Corporation,1200 Swedesford Road,...,A,A,Y,N,Attorney,Director of HR,236220,Commercial and Institutional Building Construc...,"Software Developers, Applications",0
88958,A-15043-50486,2015-09-11,Certified,02/25/2015,N,NaN,NaN,N,HEART TO HEART TRANSPORTATION INC.,82 MIDDLESEX STREET,...,Y,A,A,N,Mr.,President,6241,Individual and Family Services,Financial Managers,0
88960,A-15054-53244,2015-09-03,Certified,02/24/2015,N,NaN,NaN,N,K -TEK RESOURCING LLC,"9494 SOUTHWEST FREEWAY, SUITE#105",...,Y,Y,A,N,Attorney,Director,541511,Custom Computer Programming Services,"Software Developers, Applications",0
88961,A-15045-50855,2015-09-18,Certified,03/06/2015,N,NaN,NaN,N,IT & EBUSINESS CONSULTING SERVICES INC.,"1055 STEWART AVENUE, FL-2, SUITE 16",...,Y,A,Y,N,Attorney at Law,Vice President,541511,Custom Computer Programming Services,Sr. Business Analyst,0
88968,A-15236-10907,2015-08-26,Denied,08/20/2015,N,NaN,NaN,N,GFT USA CONSULTING LLC,28 WEST 44TH STREET,...,Y,A,Y,N,SHAREHOLDER,"HUMAN RESOURCES MANAGER, NORTH AMERICA",NaN,NaN,COMPUTER SYSTEMS ANALYSTS,1
88983,A-15245-13936,2015-09-04,Denied,09/01/2015,N,NaN,NaN,N,1ST RESPONSE RAIL SERVICE INC,"646 MAIN STREET, SUITE 101",...,Y,A,A,N,ATTORNEY,OWNER,423930,Recyclable Material Merchant Wholesalers,"FIRST LINE SUPERVISOR OF HELPERS, LABORERS",1
88984,A-15253-16100,2015-09-11,Denied,09/05/2015,N,NaN,NaN,N,"SARANG ACUPUNCTURE, INC.",18734 COLIMA ROAD,...,A,A,A,N,ATTORNEY OF RECORD,PRESIDENT,62111,Offices of Physicians,HEALTH DIAGNOSING & TREATING PRACTITIONERS,1
88986,A-15258-17589,2015-09-15,Denied,09/14/2015,N,NaN,NaN,N,JERSEY GRANITE & TILE LLC,234 BOUNDARY ROAD,...,Y,A,A,N,ATTORNEY,PRESIDENT,238340,Tile and Terrazzo Contractors,TILE & MARBLE SETTERS,1
88987,A-15243-13145,2015-09-01,Denied,08/31/2015,N,NaN,NaN,N,CAFE ARIANA,543 LIGHTHOUSE AVENUE,...,Y,Y,A,Y,NaN,EMPLOYER,722110,Full-Service Restaurants,NaN,1

## Descriptive Statistics

To do:

1. make pie charts for country of origin, education, case status, visa type
2. make histograms for salary/wage, training, and experience requirements

In [166]:
data['CASE_STATUS'].value_counts()

Certified            40176
Certified-Expired    38762
Denied                5696
Name: CASE_STATUS, dtype: int64

In [167]:
pcert, pcertex, pdenied = (data['CASE_STATUS'].value_counts().values) / float(len(data))
size = len(data)
print 'Certified: \t\t', pcert, '\nCertified-Expired: \t', pcertex, '\nDenied: \t\t', pdenied, '\nSize: \t\t\t', size

Certified: 		0.474702838103
Certified-Expired: 	0.457995604603
Denied: 		0.0673015572938
Size: 			84634

Base rate of denials is low, at 6.7%

In [168]:
serror = (pdenied*(1-pdenied)/float(len(data))) ** .5
print 'Standard Error: ',serror

Standard Error:  0.000861213341343

### Categorical Data

In [169]:
# possibly interesting columns of categorical data
dfcat = data[['denied', 'EMPLOYER_NAME', 'EMPLOYER_STATE', 'AGENT_FIRM_NAME', 'PW_SOC_TITLE', 'JOB_INFO_EDUCATION', 
              'COUNTRY_OF_CITIZENSHIP', 'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_EDUCATION', 
              'FOREIGN_WORKER_INFO_MAJOR']]

After exploring the columns, Visa Type, Country of Citizenship, and Education seem to be the most interesting columns.

In [265]:
# visa types with a high rate of denial
dftype = dfcat[['CLASS_OF_ADMISSION', 'denied']]
dftype1 = dftype.groupby('CLASS_OF_ADMISSION').mean()
dftype1['size'] = dftype.groupby('CLASS_OF_ADMISSION').agg(sum)
dftype = dftype1[(dftype1['denied'] > (pdenied + 2*serror)) & (dftype1['size'] >= 10)]
dftype

                      denied  size
CLASS_OF_ADMISSION
B-1                 0.347826    40
B-2                 0.265248   187
E-1                 0.149123    17
E-2                 0.123584   120
E-3                 0.071429    11
EWI                 0.356796   147
F-1                 0.096111   304
F-2                 0.116822    25
H-1B1               0.162791    14
H-2A                0.789474    15
H-2B                0.553571    31
H-4                 0.075000    12
J-1                 0.122905    22
Not in USA          0.204633   318
Parolee             0.075650    32

In [266]:
# countries with a high rate of denial
dfcit = dfcat[['COUNTRY_OF_CITIZENSHIP', 'denied']]
dfcit1 = dfcit.groupby('COUNTRY_OF_CITIZENSHIP').mean()
dfcit1['size'] = dfcit.groupby('COUNTRY_OF_CITIZENSHIP').agg(sum)
dfcit = dfcit1[(dfcit1['denied'] > (pdenied + 2*serror)) & (dfcit1['size'] >= 10)]
dfcit

                            denied  size
COUNTRY_OF_CITIZENSHIP
ARGENTINA                 0.098859    26
BRAZIL                    0.076125    44
BULGARIA                  0.078571    11
COLOMBIA                  0.117493    45
DOMINICAN REPUBLIC        0.127660    12
ECUADOR                   0.270408    53
EL SALVADOR               0.237624    24
GAMBIA                    0.850000    17
GREECE                    0.078125    10
GUATEMALA                 0.303371    27
HONDURAS                  0.210526    16
ITALY                     0.099768    43
JAMAICA                   0.235294    36
JAPAN                     0.094737    63
KENYA                     0.106796    11
LEBANON                   0.105691    13
MEXICO                    0.207709   388
PAKISTAN                  0.081352    65
PERU                      0.162921    29
PHILIPPINES               0.195200   366
POLAND                    0.184466    57
ROMANIA                   0.104972    19
SLOVAKIA                  0.400000    12
SOUTH AFRICA              0.107383    16
SOUTH KOREA               0.132861   750
THAILAND                  0.177083    34
TRINIDAD AND TOBAGO       0.117647    10
UNITED KINGDOM            0.076923    80
UNITED STATES OF AMERICA  0.165605    26
VENEZUELA                 0.118299    64
VIETNAM                   0.172131    42

In [172]:
dfcat.groupby(['FOREIGN_WORKER_INFO_EDUCATION'])['denied'].mean().sort_values()

FOREIGN_WORKER_INFO_EDUCATION
Doctorate      0.033010
Master's       0.051275
Bachelor's     0.053348
Other          0.074332
Associate's    0.185270
None           0.228803
High School    0.270021
Name: denied, dtype: float64

In [173]:
dfcat.groupby(['JOB_INFO_EDUCATION'])['denied'].mean().sort_values()

JOB_INFO_EDUCATION
Doctorate      0.025573
Master's       0.047168
Bachelor's     0.051324
Other          0.075218
Associate's    0.188406
None           0.233772
High School    0.304193
Name: denied, dtype: float64

Applicants with at least a Bachelor's have significantly lower rates of rejection than those without one.

## Data Preparation for Logistic Regression

All of the data are given as unicode, even the numbers, so it has to be converted into the proper data type before the regression can be run. Additionally, dummy variables need to be created for the categorical data.

In [201]:
# interesting fields with binary or numerical data
data_fields = ['REFILE', 'EMPLOYER_NUM_EMPLOYEES', 
               'FOREIGN_WORKER_OWNERSHIP_INTEREST', 'PW_AMOUNT_9089', 'WAGE_OFFER_FROM_9089', 'WAGE_OFFER_TO_9089', 
               'JOB_INFO_TRAINING', 'JOB_INFO_TRAINING_NUM_MONTHS', 'JOB_INFO_EXPERIENCE', 
               'JOB_INFO_EXPERIENCE_NUM_MONTHS', 'JOB_INFO_ALT_FIELD', 'JOB_INFO_ALT_COMBO_ED_EXP', 
               'JOB_INFO_ALT_CMB_ED_OTH_YRS', 'JOB_INFO_FOREIGN_ED', 'JOB_INFO_ALT_OCC', 'JOB_INFO_ALT_OCC_NUM_MONTHS', 
               'JOB_INFO_JOB_REQ_NORMAL', 'JOB_INFO_FOREIGN_LANG_REQ', 'JOB_INFO_COMBO_OCCUPATION',
               'JI_FOREIGN_WORKER_LIVE_ON_PREMISES', 'JI_LIVE_IN_DOMESTIC_SERVICE', 'JI_LIVE_IN_DOM_SVC_CONTRACT', 
               'RECR_INFO_PROFESSIONAL_OCC', 'RECR_INFO_COLL_UNIV_TEACHER', 'RECR_INFO_COLL_TEACH_COMP_PROC', 
               'RI_POSTED_NOTICE_AT_WORKSITE', 'RI_LAYOFF_IN_PAST_SIX_MONTHS', 'RI_US_WORKERS_CONSIDERED', 
               'FOREIGN_WORKER_INFO_TRAINING_COMP', 'FOREIGN_WORKER_INFO_REQ_EXPERIENCE', 
               'FOREIGN_WORKER_INFO_ALT_EDU_EXPERIENCE', 'FOREIGN_WORKER_INFO_REL_OCCUP_EXP', 
               'PREPARER_INFO_EMP_COMPLETED']
dflogit = data[data_fields]

In [202]:
def remove_commas(uni):
    # converts unicode numbers with commas into floats
    string = str(uni)
    return float(string.replace(',', ''))

def data_clean(df):
    # formats datatypes to binary for indicators or floats for numbers
    columns = df.columns
    dfr = pd.DataFrame()
    for column in columns:
        name = str(column)
        name = name.lower()
        if str(df[column][0]) in ['Y', 'N']:
            dfr[name] = (df[column] == 'Y').astype(int)
        elif ',' in str(df[column][0]):
            try:
                dfr[name] = df[column].apply(remove_commas)
            except ValueError:
                continue
        else:
            try:
                dfr[name] = df[column].apply(float)
            except ValueError:
                continue
    return dfr

def add_columns(df1, df2, columns):
    # adds columns from one dataframe to another
    for column in columns:
        df2[column] = df1[column]

In [203]:
# formatting data for logistic regression
dflogit = data_clean(dflogit)
new_columns = ['JOB_INFO_EDUCATION', 'COUNTRY_OF_CITIZENSHIP', 'CLASS_OF_ADMISSION', 'FOREIGN_WORKER_INFO_EDUCATION',
               'denied']
add_columns(data, dflogit, new_columns)
dflogit.head()

,refile,employer_num_employees,foreign_worker_ownership_interest,pw_amount_9089,job_info_training,job_info_training_num_months,job_info_experience,job_info_experience_num_months,job_info_alt_field,job_info_alt_combo_ed_exp,...,recr_info_coll_univ_teacher,ri_posted_notice_at_worksite,ri_layoff_in_past_six_months,foreign_worker_info_rel_occup_exp,preparer_info_emp_completed,JOB_INFO_EDUCATION,COUNTRY_OF_CITIZENSHIP,CLASS_OF_ADMISSION,FOREIGN_WORKER_INFO_EDUCATION,denied
0,0,1935,0,83366,0,NaN,0,NaN,0,0,...,0,1,0,1,0,Bachelor's,INDIA,H-1B,Bachelor's,0
1,0,350,0,16973,0,NaN,0,NaN,0,0,...,0,1,0,0,0,None,SOUTH KOREA,NaN,None,1
2,0,4,0,49982,0,NaN,1,36,0,0,...,0,1,0,0,0,Doctorate,GERMANY,H-1B,Doctorate,1
3,0,8,0,43514,0,NaN,0,NaN,0,0,...,0,1,0,0,0,Master's,SOUTH KOREA,E-2,Master's,0
4,0,350,0,16973,0,NaN,0,NaN,0,0,...,0,1,0,0,0,None,SOUTH KOREA,NaN,None,1

In [204]:
# checking data types
dflogit.dtypes

refile                                  int64
employer_num_employees                float64
foreign_worker_ownership_interest       int64
pw_amount_9089                        float64
job_info_training                       int64
job_info_training_num_months          float64
job_info_experience                     int64
job_info_experience_num_months        float64
job_info_alt_field                      int64
job_info_alt_combo_ed_exp               int64
job_info_alt_cmb_ed_oth_yrs           float64
job_info_foreign_ed                     int64
job_info_alt_occ                        int64
job_info_alt_occ_num_months           float64
job_info_job_req_normal                 int64
job_info_foreign_lang_req               int64
job_info_combo_occupation               int64
ji_foreign_worker_live_on_premises      int64
ji_live_in_domestic_service             int64
recr_info_professional_occ              int64
recr_info_coll_univ_teacher             int64
ri_posted_notice_at_worksite            int64
ri_layoff_in_past_six_months            int64
foreign_worker_info_rel_occup_exp       int64
preparer_info_emp_completed             int64
JOB_INFO_EDUCATION                     object
COUNTRY_OF_CITIZENSHIP                 object
CLASS_OF_ADMISSION                     object
FOREIGN_WORKER_INFO_EDUCATION          object
denied                                  int64
dtype: object

In [208]:
dflogit.describe()

,refile,employer_num_employees,foreign_worker_ownership_interest,pw_amount_9089,job_info_training,job_info_training_num_months,job_info_experience,job_info_experience_num_months,job_info_alt_field,job_info_alt_combo_ed_exp,...,job_info_combo_occupation,ji_foreign_worker_live_on_premises,ji_live_in_domestic_service,recr_info_professional_occ,recr_info_coll_univ_teacher,ri_posted_notice_at_worksite,ri_layoff_in_past_six_months,foreign_worker_info_rel_occup_exp,preparer_info_emp_completed,denied
count,84634.000000,84600.000000,84634.000000,84588.000000,84634.000000,1756.000000,84634.000000,46772.000000,84634.000000,84634.000000,...,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000,84634.000000
mean,0.001170,21949.727128,0.003686,83749.914278,0.018645,32.408884,0.551752,33.390383,0.373999,0.299950,...,0.004017,0.001229,0.000792,0.892277,0.026550,0.980776,0.031489,0.547038,0.159510,0.067302
std,0.034182,74840.819191,0.060605,39964.592513,0.135269,21.346236,0.497317,22.952114,0.483866,0.458239,...,0.063255,0.035033,0.028125,0.310032,0.160764,0.137312,0.174635,0.497785,0.366154,0.250545
min,0.000000,0.000000,0.000000,6.550000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,75.000000,0.000000,65936.000000,0.000000,12.000000,0.000000,12.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1374.500000,0.000000,83762.000000,0.000000,36.000000,1.000000,24.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,27800.000000,0.000000,103355.000000,0.000000,36.000000,1.000000,60.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,2200000.000000,1.000000,5067600.000000,1.000000,240.000000,1.000000,240.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [249]:
params = dflogit.columns[:-5]
dummies = ['C(JOB_INFO_EDUCATION)', 'C(COUNTRY_OF_CITIZENSHIP)', 'C(CLASS_OF_ADMISSION)', 'C(FOREIGN_WORKER_INFO_EDUCATION)']

In [250]:
# prep dataframes for sklearn logit
y, X = dmatrices('denied ~ ' + ' + '.join(params) + ' + ' + ' + '.join(dummies), dflogit, return_type="dataframe")
print X.columns

Index([u'Intercept', u'C(JOB_INFO_EDUCATION)[T.Bachelor's]',
       u'C(JOB_INFO_EDUCATION)[T.Doctorate]',
       u'C(JOB_INFO_EDUCATION)[T.High School]',
       u'C(JOB_INFO_EDUCATION)[T.Master's]', u'C(JOB_INFO_EDUCATION)[T.None]',
       u'C(JOB_INFO_EDUCATION)[T.Other]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ALBANIA]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ALGERIA]',
       u'C(COUNTRY_OF_CITIZENSHIP)[T.ANGOLA]',
       ...
       u'job_info_foreign_lang_req', u'job_info_combo_occupation',
       u'ji_foreign_worker_live_on_premises', u'ji_live_in_domestic_service',
       u'recr_info_professional_occ', u'recr_info_coll_univ_teacher',
       u'ri_posted_notice_at_worksite', u'ri_layoff_in_past_six_months',
       u'foreign_worker_info_rel_occup_exp', u'preparer_info_emp_completed'],
      dtype='object', length=264)

In [251]:
# flattening y into a 1-D array
y = np.ravel(y)

## Logistic Regression

In [282]:
# creating a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

In [283]:
# checking the accuracy on the training set
model.score(X, y)

0.94047619047619047

In [254]:
y.mean()

0.077380952380952384

The model is doing only slightly better than the null (accepting every application).

In [257]:
# examining the coefficients
pd.DataFrame(zip(X.columns, np.transpose(model.coef_))).sort_values(by=1)

                                                   0                     1
202                    C(CLASS_OF_ADMISSION)[T.H-1B]   [-0.00622750573483]
252                      job_info_alt_occ_num_months   [-0.00334810709121]
77                C(COUNTRY_OF_CITIZENSHIP)[T.INDIA]   [-0.00315043854947]
258                       recr_info_professional_occ   [-0.00223340535993]
233   C(FOREIGN_WORKER_INFO_EDUCATION)[T.Bachelor's]   [-0.00153513035455]
4                  C(JOB_INFO_EDUCATION)[T.Master's]   [-0.00130397932083]
212                     C(CLASS_OF_ADMISSION)[T.L-1]   [-0.00117151780021]
260                     ri_posted_notice_at_worksite  [-0.000963699341092]
246                   job_info_experience_num_months   [-0.00054177408555]
238        C(FOREIGN_WORKER_INFO_EDUCATION)[T.Other]  [-0.000519379369431]
234    C(FOREIGN_WORKER_INFO_EDUCATION)[T.Doctorate]  [-0.000516991645184]
111              C(COUNTRY_OF_CITIZENSHIP)[T.MEXICO]  [-0.000450443602554]
255                        job_info_combo_occupation   [-0.00040718582684]
6                     C(JOB_INFO_EDUCATION)[T.Other]  [-0.000341614497424]
115             C(COUNTRY_OF_CITIZENSHIP)[T.MOROCCO]  [-0.000328707560962]
154               C(COUNTRY_OF_CITIZENSHIP)[T.SPAIN]   [-0.00030233825516]
75              C(COUNTRY_OF_CITIZENSHIP)[T.HUNGARY]  [-0.000275475637536]
174             C(COUNTRY_OF_CITIZENSHIP)[T.UKRAINE]   [-0.00025083185497]
176      C(COUNTRY_OF_CITIZENSHIP)[T.UNITED KINGDOM]  [-0.000203870189292]
41           C(COUNTRY_OF_CITIZENSHIP)[T.COSTA RICA]   [-0.00017492074097]
2                 C(JOB_INFO_EDUCATION)[T.Doctorate]  [-0.000159007944264]
86                C(COUNTRY_OF_CITIZENSHIP)[T.JAPAN]  [-0.000149484362457]
136              C(COUNTRY_OF_CITIZENSHIP)[T.RUSSIA]  [-0.000147148357266]
53          C(COUNTRY_OF_CITIZENSHIP)[T.EL SALVADOR]  [-0.000119267799724]
78            C(COUNTRY_OF_CITIZENSHIP)[T.INDONESIA]  [-0.000110516745366]
73             C(COUNTRY_OF_CITIZENSHIP)[T.HONDURAS]  [-9.33595829228e-05]
51              C(COUNTRY_OF_CITIZENSHIP)[T.ECUADOR]  [-9.22343267227e-05]
60               C(COUNTRY_OF_CITIZENSHIP)[T.FRANCE]  [-6.68861866893e-05]
117               C(COUNTRY_OF_CITIZENSHIP)[T.NEPAL]  [-6.03295069623e-05]
147           C(COUNTRY_OF_CITIZENSHIP)[T.SINGAPORE]  [-4.38419232717e-05]
..                                               ...                   ...
239                                           refile   [0.000535932848289]
164              C(COUNTRY_OF_CITIZENSHIP)[T.TAIWAN]   [0.000535932848289]
152         C(COUNTRY_OF_CITIZENSHIP)[T.SOUTH KOREA]   [0.000619433015873]
216              C(CLASS_OF_ADMISSION)[T.Not in USA]   [0.000642811046041]
1                C(JOB_INFO_EDUCATION)[T.Bachelor's]   [0.000652653970373]
131         C(COUNTRY_OF_CITIZENSHIP)[T.PHILIPPINES]   [0.000812341805913]
237         C(FOREIGN_WORKER_INFO_EDUCATION)[T.None]   [0.000954843176998]
235  C(FOREIGN_WORKER_INFO_EDUCATION)[T.High School]    [0.00097420291146]
236     C(FOREIGN_WORKER_INFO_EDUCATION)[T.Master's]    [0.00103500347977]
64              C(COUNTRY_OF_CITIZENSHIP)[T.GERMANY]    [0.00104597876598]
228                      C(CLASS_OF_ADMISSION)[T.TN]     [0.0010523428945]
194                     C(CLASS_OF_ADMISSION)[T.E-3]    [0.00114645193311]
13            C(COUNTRY_OF_CITIZENSHIP)[T.AUSTRALIA]    [0.00114645193311]
0                                          Intercept    [0.00128296136368]
241                foreign_worker_ownership_interest     [0.0013454372653]
262                foreign_worker_info_rel_occup_exp     [0.0015949327629]
250                              job_info_foreign_ed    [0.00189905761834]
193                     C(CLASS_OF_ADMISSION)[T.E-2]    [0.00209096152222]
167            C(COUNTRY_OF_CITIZENSHIP)[T.THAILAND]    [0.00224555198919]
253                          job_info_job_req_normal    [0.00232346097539]
251                                 job_info_alt_occ    [0.00245604096561]
196                     C(CLASS_OF_ADMISSION)[T.F-1]    [0.00277521459139]
263                      preparer_info_emp_completed    [0.00300560009435]
247                               job_info_alt_field    [0.00360852280088]
245                              job_info_experience    [0.00443874852176]
254                        job_info_foreign_lang_req    [0.00525854793199]
248                        job_info_alt_combo_ed_exp    [0.00577456496713]
243                                job_info_training    [0.00720752501916]
249                      job_info_alt_cmb_ed_oth_yrs     [0.0300842642607]
244                     job_info_training_num_months     [0.0405655746382]

[264 rows x 2 columns]

According to the model, by far the strongest factor leading to application rejection is number of months of training required. Jobs that will require several months of training are not really liked by US immigration. Another strong factor is whether an alternate (i.e. lower) level of education is acceptable for the job, providing the applicant has a certain number of years of experience. The more experience required, the greater the chaces of rejection. Applicants from Thailand also seem to be rejected as relatively high rates.

In contrast, applicants for H-1B visas from India, who are applying for professional occupations may have the highest chances of having their applications approved.

### Evaluating the Model

In [275]:
# evaluating the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.95, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, penalty='l2', random_state=None, tol=0.0001)

Since the base rate is so low, a large number of applications are required for testing.

In [276]:
# predicting class labels for the test set
predicted = model2.predict(X_test)
print predicted

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [277]:
# generating class probabilities
probs = model2.predict_proba(X_test)
print probs

[[  9.99999969e-01   3.07533538e-08]
 [  9.99999394e-01   6.05818926e-07]
 [  9.99999977e-01   2.33318224e-08]
 [  9.99999884e-01   1.15840691e-07]
 [  9.99999978e-01   2.17361136e-08]
 [  9.99911364e-01   8.86356122e-05]
 [  9.99946811e-01   5.31885263e-05]
 [  9.99999851e-01   1.48917818e-07]
 [  9.99865616e-01   1.34384141e-04]
 [  9.99999818e-01   1.81920677e-07]
 [  8.08954505e-02   9.19104549e-01]
 [  9.99999991e-01   9.28437740e-09]
 [  1.00000000e+00   5.17762158e-19]
 [  9.99999996e-01   4.24245899e-09]
 [  1.00000000e+00   8.97642879e-11]
 [  9.92957781e-01   7.04221853e-03]
 [  9.99999965e-01   3.54446634e-08]
 [  9.99999578e-01   4.22428153e-07]
 [  9.99999566e-01   4.33873667e-07]
 [  9.99999997e-01   3.07288390e-09]
 [  9.99999973e-01   2.72623190e-08]
 [  9.99999996e-01   3.69249299e-09]
 [  1.00000000e+00   1.90028332e-12]
 [  9.99999667e-01   3.33238181e-07]
 [  9.99999990e-01   9.95069179e-09]
 [  9.99974277e-01   2.57232760e-05]
 [  1.00000000e+00   1.22114608e-14]
 [  1.00000000e+00   2.36557671e-10]
 [  1.00000000e+00   4.90108697e-18]
 [  9.99999736e-01   2.63704751e-07]
 [  1.00000000e+00   1.06480436e-10]
 [  9.99999963e-01   3.73214560e-08]
 [  9.99999823e-01   1.77263888e-07]
 [  9.99974277e-01   2.57232760e-05]
 [  9.99999985e-01   1.47017851e-08]
 [  9.99992402e-01   7.59767873e-06]
 [  9.99999854e-01   1.45549380e-07]
 [  9.99999725e-01   2.74530145e-07]
 [  9.99893189e-01   1.06810825e-04]
 [  9.99997217e-01   2.78259498e-06]
 [  9.99999993e-01   6.55733826e-09]
 [  9.99968991e-01   3.10088095e-05]
 [  9.99999714e-01   2.86192722e-07]
 [  9.99999999e-01   9.89019076e-10]
 [  9.99999989e-01   1.12588328e-08]
 [  9.99999992e-01   8.42262650e-09]
 [  9.96342765e-01   3.65723515e-03]
 [  9.99985840e-01   1.41600370e-05]
 [  9.99999954e-01   4.55845992e-08]
 [  9.99999989e-01   1.12588328e-08]
 [  9.99999821e-01   1.78564199e-07]
 [  9.99998560e-01   1.43957635e-06]
 [  1.00000000e+00   1.74773445e-10]
 [  9.99999807e-01   1.92678957e-07]
 [  9.99974137e-01   2.58628634e-05]
 [  9.99999998e-01   1.52217914e-09]
 [  9.99999892e-01   1.08282315e-07]
 [  9.99999977e-01   2.34818056e-08]
 [  1.00000000e+00   4.74741484e-12]
 [  9.99999996e-01   4.27357989e-09]
 [  9.99999999e-01   5.61614638e-10]
 [  9.99999993e-01   6.55733826e-09]
 [  9.99952148e-01   4.78522584e-05]
 [  9.99999997e-01   2.88954612e-09]
 [  9.99999860e-01   1.39677080e-07]
 [  9.99999920e-01   7.96679334e-08]
 [  1.00000000e+00   2.03809549e-10]
 [  9.99999988e-01   1.15166288e-08]
 [  9.99999996e-01   4.24245899e-09]
 [  9.99999716e-01   2.83708899e-07]
 [  9.98865924e-01   1.13407602e-03]
 [  1.00000000e+00   1.06480450e-10]
 [  1.00000000e+00   2.70972799e-11]
 [  9.99999699e-01   3.01492406e-07]
 [  9.99999920e-01   7.96679334e-08]
 [  1.00000000e+00   3.32756825e-11]
 [  9.99999996e-01   3.69249299e-09]
 [  1.00000000e+00   4.63283362e-10]
 [  9.99999996e-01   4.24246541e-09]
 [  9.99999763e-01   2.37160811e-07]
 [  1.00000000e+00   6.21831565e-11]
 [  9.99999953e-01   4.73060330e-08]
 [  9.99996484e-01   3.51628960e-06]
 [  1.00000000e+00   4.58898651e-10]
 [  9.99999997e-01   3.09542490e-09]
 [  9.99999989e-01   1.12588328e-08]
 [  9.99974277e-01   2.57232760e-05]
 [  9.99999802e-01   1.97705100e-07]
 [  1.00000000e+00   4.74065394e-12]
 [  1.00000000e+00   4.78333788e-13]
 [  9.76439490e-01   2.35605099e-02]
 [  9.99967556e-01   3.24440684e-05]
 [  9.99999996e-01   4.27357989e-09]
 [  9.99999996e-01   4.47318887e-09]
 [  9.99999927e-01   7.33828022e-08]
 [  9.99999879e-01   1.21200963e-07]
 [  1.00000000e+00   5.17822479e-19]
 [  9.99934206e-01   6.57942952e-05]
 [  9.99999967e-01   3.31177364e-08]
 [  9.99999976e-01   2.43775539e-08]
 [  9.99999776e-01   2.23639706e-07]
 [  1.00000000e+00   9.03439052e-12]
 [  9.99999194e-01   8.05605026e-07]
 [  9.99997663e-01   2.33711992e-06]
 [  9.99999996e-01   3.50293973e-09]
 [  1.00000000e+00   7.14448184e-11]
 [  9.99905714e-01   9.42860974e-05]
 [  9.99998798e-01   1.20222553e-06]
 [  9.99974277e-01   2.57232760e-05]
 [  9.99999926e-01   7.39209861e-08]
 [  9.99999917e-01   8.25214310e-08]
 [  9.99995581e-01   4.41933057e-06]
 [  9.99999529e-01   4.71140395e-07]
 [  9.99983521e-01   1.64790160e-05]
 [  1.00000000e+00   1.06480436e-10]
 [  9.99999996e-01   3.88628570e-09]
 [  9.99088111e-01   9.11888682e-04]
 [  9.99999999e-01   1.28268687e-09]
 [  9.99999105e-01   8.94764495e-07]
 [  9.99999973e-01   2.74122491e-08]
 [  9.99999701e-01   2.98716954e-07]
 [  9.99999873e-01   1.27374646e-07]
 [  9.99999991e-01   9.28439032e-09]
 [  9.99911365e-01   8.86354665e-05]
 [  8.35610602e-04   9.99164389e-01]
 [  9.99999999e-01   1.05524294e-09]
 [  9.99999789e-01   2.11395495e-07]
 [  9.98403297e-01   1.59670300e-03]
 [  9.99982020e-01   1.79796613e-05]
 [  9.99999271e-01   7.28698397e-07]
 [  9.99974277e-01   2.57232760e-05]
 [  9.99992347e-01   7.65341168e-06]
 [  7.38200715e-03   9.92617993e-01]
 [  9.99999963e-01   3.70497408e-08]
 [  9.99974088e-01   2.59119663e-05]
 [  1.00000000e+00   7.51807074e-14]
 [  9.99999973e-01   2.70637904e-08]
 [  9.99974277e-01   2.57232760e-05]
 [  9.99999893e-01   1.07494112e-07]
 [  9.99892410e-01   1.07589918e-04]
 [  9.99999998e-01   1.88600652e-09]
 [  9.99992400e-01   7.59967045e-06]
 [  9.99999971e-01   2.93080231e-08]
 [  1.00000000e+00   5.17822544e-19]
 [  9.99999920e-01   7.96679334e-08]
 [  9.99999884e-01   1.15840691e-07]
 [  9.99999993e-01   7.27895008e-09]
 [  9.99999996e-01   4.24245899e-09]
 [  1.00000000e+00   1.31214144e-10]
 [  9.99997149e-01   2.85051808e-06]
 [  9.99999993e-01   7.27895008e-09]
 [  9.99999751e-01   2.49034415e-07]
 [  9.99999965e-01   3.50940329e-08]
 [  9.92896981e-01   7.10301937e-03]
 [  9.74543434e-01   2.54565658e-02]
 [  9.99999995e-01   5.34094059e-09]
 [  9.99993433e-01   6.56734234e-06]
 [  9.52137960e-01   4.78620405e-02]
 [  9.99998951e-01   1.04881862e-06]
 [  9.99996458e-01   3.54208398e-06]]

In [284]:
# generating evaluation metrics
print metrics.accuracy_score(y_test, predicted)
print metrics.roc_auc_score(y_test, probs[:, 1])

0.93125
0.644144144144

In [285]:
print metrics.confusion_matrix(y_test, predicted)
print metrics.classification_report(y_test, predicted)

[[147   1]
 [ 10   2]]
             precision    recall  f1-score   support

        0.0       0.94      0.99      0.96       148
        1.0       0.67      0.17      0.27        12

avg / total       0.92      0.93      0.91       160

The confusion matrix does not look very promising, with 83% of all positives missed (type II error). Further work will need to be done to improve the model.

In [286]:
# evaluating the model using 10-fold cross-validation
scores = cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

[ 0.88888889  0.94444444  0.88888889  0.88235294  0.94117647  0.9375      1.
  0.9375      0.9375      1.        ]
0.935825163399

Accuracy varies wildly over the subsamples, indicating inconstencies in the classification.